.main {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.posts {
  padding: 1em;
  background-color: yellow;
}
.specific__post {
  padding: 1em;
  background-color: lightcoral;
}
.mapped__posts {
  padding: 1em;
  background-color: lightpink;
}